@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Roboto", sans-serif;
}
body{
  color: white;
}
.cuerpo{
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAAAXNSR0IArs4c6QAAAKpJREFUKFNNUVsOwyAMs0PVTfuaut3/pANPTiiiohQCfsTlibcIYNCzcgQaBMEVgLluPhfAE1cC1pO4ApMENU8INBF84CqqIp+s+9cKtW/gVJiAW4XLjCvdhhBgvpulQrlYdiLxcVuq3W6JiNmMFYhROrIRdxvQ6sEeafwxWeuyyQcbQh1iR+gAn/xUSkYvG1ZwmBWq54FeIb/4FRQpEdoyzItTWf4vVvzhD9UePSUo99enAAAAAElFTkSuQmCC");
}